
//import vars and modules
@import "_vars";
@import "modules/_portfolio";
//import required modules
@import "modules/_header";
@import "modules/_aboutme";
@import "modules/_skills";
@import "modules/_contact";
@import "modules/_footer";

body, section, div, p, ul, li, a {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    color: $text_color_white;
}

// div {
//     margin-top: 2em;
// }

/* BASIC simple CSS RESET */


/* Helper Rules */

.hidden {
  display: none;
}


  #mainLogo{
      width: 100%;
  }

  #tagLine{
      width: 3.875em;
        margin-top: 3em;
  }
  #jeril{
      width: 21.188em;
      margin-top: 2em;
      
      
  }
  #mianPoster{
      margin-bottom: 10px;
  }
 
.letterWhite{
    color: $text_color_white;
}
.headings{
    color: $text_color_red;
    font-weight: bold;
    font-size: 3.125em;
    margin-top: 4em;
    margin-left:1.563em;
    margin-bottom: 25px;
}




// MEDIA QUERY START//



  @media screen and (max-width: 600px)  {



    .letterWhite{
        color: $text_color_white;
    }
    .headings{
        color: $text_color_red;
        font-weight: bold;
        font-size: 1.875em;
        margin-top: 4em;
        margin-left:1.563em;
        margin-bottom: 50px;
    }
   

  }

  @media screen and (max-width: 800px) {
    #mainNav ul li {
        display: none;
    }

}

  @media screen and (min-width: 800px) {
      #hamberger {
          display: none;
      }

      .navigation {
          display: none;
      }

      #protfolioSec1 div img {

        width: 100%;

      }

      #extraWork div img {
          width: 100%;
      }

  }
