@media(min-width:468px){
  
    .container-2{
      display:flex; 
    justify-content:center; 
      justify-content:space-between;
    }
      .skillicon{
        width: 30%;
      height: 56px;
      margin: 0 auto;
      justify-content:center; 
      margin-bottom: 20px;
  }

    
  }
  .container-2-box{
    flex-basis: 50%;  
    margin: 0 auto;
    text-align: center;
    flex: 1;
  
  }
  .skillicon{
    width: 50%;
      height: 86px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
  }


#skillHead{
    margin-bottom: 160px;
}



.threeSkillsHeading{
    font-weight: bold;
    text-align: center;
    font-size: 1.875em;
}
.developmentText{
    text-align: center;
    font-size: 1.250em;
}


@media screen and (max-width: 375px)  {
    #skillHead{
        margin-bottom: 50px;
    }
    
    
    .threeSkillsHeading{
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .developmentText{
        text-align: center;
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 10px;
    }


    .contactIntro{
        text-align: center;
        font-size: 20px;
        color: $text_color_red;
    }
    
}
@media screen and (max-width: 768px){

    .threeSkillsHeading{
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        margin: 0 auto;
        
       
    }
    .developmentText{
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}
