#skillHead{
    margin-bottom: 100px;
}

#developmenIcon{
    width: 6.063em;
    margin: auto;
    
}
#designIcon{
    width: 5.500em;
    margin: auto;
    
}
#animaitonIcon{
    width: 6.625em;
    margin: auto;
    
}
#developmentTextBox{
    padding: 4px;
    margin-left: -66px;
}
.threeSkillsHeading{
    font-weight: bold;
    text-align: center;
    font-size: 1.875em;
}
.developmentText{
    text-align: center;
    font-size: 1.250em;
}

@media screen and (max-width: 600px)  {

    #skillPage{
        width: 174px;
        margin-left: 150px;
    }

    #developmenIcon{
        width: 69px;
        margin-bottom: 50px;
        
        
    }
    #designIcon{
        width: 55px;
        margin-bottom: 50px;
       
        
    }
    #animaitonIcon{
        width: 70px;
    }
    .contactIntro{
        text-align: center;
        font-size: 20px;
        color: $text_color_red;
    }
    
}